*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background: #ffffff;
    padding-top: 30px;

}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}